<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fundatasks.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/075254db-75bd-4d17-b2a8-9fa8cdff9f65/resourceGroups/art-fundatasks/providers/Microsoft.Web/sites/fundatasks</ResourceId>
    <UserName>$fundatasks</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://fundatasks.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>